:root {
    --blue-1: #36365d;
    --blue-2: #616189;
    --orng-1: #ffc400;
}

.column {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.container {
    width: clamp(480px, 60vw, 840px);
    padding: 2vh clamp(24px, 4vw, 84px);
    background-color: white;
    border-radius: 5px;
    margin: 1vh 0;
}

.heading-1{
    font-size: x-large;
    font-weight: 100;
    margin: 10px 0px;
    color: var(--blue-1);
}

.heading-2{
    font-size: large;
    font-weight: 200;
    padding: 12px 0px 8px 0px;
    color: grey;
}

.main-header{
    height: 5vh;
    background-color: var(--blue-1);
    margin: 0;
    padding: 2vh 2vw;
    width: 96vw;
    position: relative;
    z-index: 1;
}

.title{
    color: white;
    margin: 0;
    font-size: xx-large;
    font-weight: lighter;
}

.outline-input {
    margin: 0;
    padding: 10px;
    min-width: 95%;
    background-color: #ffffff;
    border: 1px solid lightgrey;
    border-radius: 0px;
    color: black;
}


.outline-button {
    margin: 0;
    padding: 10px;
    min-width: 48px;
    height: 48px;
    background-color: inherit;
    border: 1px solid lightgrey;
    border-radius: 0px;
    color: lightgrey;
}

.outline-button:hover {
    background-color: white;
    color: grey;
    border-width: 0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.red-hover:hover {
    color: red !important;
}

.green-hover:hover {
    color: rgb(0, 255, 0) !important;
}

.blue-hover:hover {
    color: blue !important;
}

.no-outline-input {
    margin: 0px;
    min-width: 50%;
    padding: 10px;
    background-color: white;
    border: 0px solid lightgrey;
    border-left: 4px solid lightgrey;
    border-radius: 4px;
    color: black;
}

.no-outline-input:focus {
    border: 0px solid var(--blue-2);
    border-left: 4px solid var(--blue-2);
    outline: none;
    background-color: whitesmoke;
}

.no-outline-area-text {
    margin: 0px;
    min-width: 95%;
    padding: 10px;
    background-color: white;
    border: 0px solid lightgrey;
    border-left: 4px solid lightgrey;
    border-radius: 4px;
    color: black;
}

.no-outline-area-text:focus {
    border: 0px solid var(--blue-2);
    border-left: 4px solid var(--blue-2);
    outline: none;
    background-color: whitesmoke;
}

.no-outline-button {
    margin: 0;
    padding: 12px 10px 8px 10px;
    min-width: 48px;
    height: 48px;
    background-color: inherit;
    border: 0px solid lightgrey;
    border-radius: 0px;
    color: darkgrey;
}

.no-outline-button:hover {
    color: blue;
}

.paragraph-spacing {
    margin-bottom: 8px;
}

.row {
    vertical-align: middle;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.row-left{
    vertical-align: middle;
    display: flex;
    flex-direction: row ;
    justify-content: left;
}

.section-container {
    height: 90vh;
    width: 100vw;
    overflow-y: scroll;
}

.shadow-heavy {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.shadow-medium {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.shadow-light {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.underline {
    border-bottom: solid 1px lightgrey;
}

.underline-off {
    border-bottom: solid 0px lightgrey;
}

@media only screen and (max-width: 600px){
    .section-container {
        display: block;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .container {
        width: 88vw;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
        padding: 2vh 6vw;
        background-color: white;
        margin: 0;
        border-radius: 0px;
        border-bottom: 1px solid lightgrey;
    }
    
    .row {
        display: flex;
        flex-direction: row ;
        justify-content: space-between;
    }  
}

html, body { height: 100%; }
body { 
    background-color: whitesmoke;
    margin: 0; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
        width: 0px;
}

.mat-expansion-panel-body {
    padding: 0 !important;
    border-radius: 0px;
}
.mat-accordion .mat-expansion-panel:first-of-type {
    border-radius: 0px !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px;
}


* {
    margin: 0;
    padding: 0;
    border-radius: 0px;
}